/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:18:31
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-06-03 23:13:25
*/
$music_favicon_size: 35px;
$big_icon_size: 35px;
$small_icon_size: 25px;

.music_control{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: $music_control_height;
    height: $music_control_height;

    user-select: none;
    background-color: #f63;
    button{
        background: none;
        color: white;
    }

    .control_panel{
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        width: $PC_response_width;
        min-width: $min_PC_width;
        margin: 0 auto;
        .panel_group{
            position: relative;
            text-align: center;
            #music_favicon{
                position: relative;
                display: inline-block;
                height: $music_favicon_size;
                width: $music_favicon_size;
                vertical-align: middle;
                img{
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
            .time_tip{
                vertical-align: middle;
                color: #eee;
                font-size: 10px;
            }
            .play_mode{
                vertical-align: middle;
                font-size: 20px;
                padding-right: 10px;
            }
            .music_list_control{
                vertical-align: middle;
                font-size: 25px;
                margin-left: 10px;
                padding-top: 3px;
            }
            .musiclist_control{
                font-size: 25px;
                padding-top: 5px;
                vertical-align: middle
            }
            @import '_music_list';
            @import '_range';
        }
        .grow_control{
            flex-grow: 1;
            .control_item{
                position: relative;
                border-radius: 100%;
                vertical-align: middle;
                background: transparent;
                color: white;
                &:disabled{
                    color: #ccc !important;
                }
            }
            .control_item.small{
                width: $small_icon_size;
                height: $small_icon_size;
                span{
                    font-size: $small_icon_size;
                }
            }
            .control_item.big{
                width: $big_icon_size;
                height: $big_icon_size;
                span{
                    font-size: $big_icon_size;
                }
            }
            .switch{
                position: relative;
                width: 55px;
                height: 25px;
                vertical-align: middle;
                border-radius: 20px;
                margin: 0 10px;
                box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.2);
                transition: background .5s;
                div{
                    position: absolute;
                    width: 25px;
                    line-height: 25px;
                    border-radius: 20px;
                    background: white;
                    box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.2);
                    transition: left .5s;
                }
                p{
                    line-height: 25px;
                    font-size: 10px;
                }
            }
            .switch.on{
                background: #c69;
                div{
                    left: 0;
                }
                p{
                    float: right;
                    padding-right: 5px;
                }
            }
            .switch.off{
                background-color: white;
                div{
                    left: 30px;
                }
                p{
                    color: #000;
                    float: left;
                    padding-left: 5px;
                }
            }
        }
        .grow_volume{
            flex-grow: 3;
            text-align: left;
            .volume_control{
                vertical-align: middle;
                background: none;
                color: white;
                font-size: 15px;
                padding-right: 5px;
            }
            #volume_range{
                width: 45%;
            }
        }
        .grow_timerange{
            flex-grow: 20;
            .time_bar_tip{
                position: absolute;
                display: none;
                top: -8px;
                line-height: 25px;
                p{
                    width: 50px;
                    text-align: center;
                    background-color: yellow;
                }
                .bottom_triangle{
                    position: absolute;
                    border-top: 5px solid yellow;
                    border-right: transparent 5px solid;
                    border-left: transparent 5px solid;
                    border-bottom: transparent 5px solid;
                    left: 50%;
                    margin-left: -2.5px;
                }
            }
            #time_range{
                width: 98%;
            }
        }
    }
}