/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:31:33
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-21 08:39:04
*/
$item_line_height: 18px;
.musiclist{
    position: absolute;
    display: none;
    bottom: 50px;
    right: -30px;
    width: 0;
    height: 0;
    background: green;
    z-index: 10;


    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: 1px black solid;
        padding: 0 20px;
        line-height: 30px;
        margin-bottom: 10px;
        p{
            flex-grow: 20;
        }
    }

    button{
        font-size: 20px;
        background: none;
        vertical-align: middle;
        flex-grow: 0;
        span{
            line-height: 30px;
        }
    }

    .small_font{
        font-size: 10px;
        flex-grow: 1;
        margin-right: 20px;
    }

    .bottom_triangle{
        position: absolute;
        right: 33px;
        bottom: -20px;
        border-left: transparent solid 10px;
        border-right: transparent solid 10px;
        border-top: green 10px solid;
        border-bottom: transparent 10px solid;
    }
    .music_ul{
        overflow: hidden;
        .music_item{
            position: relative;
            line-height: $item_line_height;
            padding: 3px 20px;
            text-align: left;
            &:hover{
                cursor: pointer;
                background: white;
            }
            .mark_icon, .music_title, .music_artist, .music_duration{
                display: inline-block;
            }
            .mark_icon{
                visibility: hidden;
            }
            .music_title{
                width: 40%;
            }
            .music_artist{
                width: 30%;
            }
            .music_duration{
                width: 10%;
            }
            button{
                margin: 0 10px;
                text-align: right;
                color: silver;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    color: #666;
                }
                span{
                    line-height: $item_line_height;
                }
            }
            &.current{
                .mark_icon{
                    visibility:visible;
                }
            }
        }
    }
}
