/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:00:27
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-21 16:22:19
*/
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button, input{
    border: 0;
    &:focus{
        outline: none;
    }
}

canvas{
    pointer-events: none;
}