/*
* @Author: inksmallfrog
* @Date:   2017-04-14 06:33:57
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-14 17:31:10
*/
.pointer:hover{
    cursor: pointer;
}
button:disabled{
    color: #ccc !important;
}
.range.horizental{
    position: relative;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    background: none;
    margin: 0 10px;
}
.range.horizental .track{
    position: absolute;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    width: 100%;
}
.range.horizental .loaded_line{
    position: absolute;
    height: 4px;
    top: 50%;
    left: 0;
    border-radius: 10px;
    margin-top: -2px;
    width: 0;
    background-color: #336;
}
.range.horizental .track_line{
    position: absolute;
    height: 4px;
    top: 50%;
    left: 0;
    border-radius: 10px;
    margin-top: -2px;
    width: 100%;
    background-color: #999;
}
.range.horizental .point{
    box-sizing: border-box;
    position: absolute;
    height: 12px;
    width: 12px;
    top: 50%;
    margin-top: -6px;
    left: -5px;
    border-radius: 100%;
    border: white solid 4px;
    background: #3c7;
}