/*
* @Author: inksmallfrog
* @Date:   2017-04-06 08:31:38
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-09 21:11:25
*/
.fly input{
    height: 25px;
    box-sizing: border-box;
    width: 95%;
    padding: 0 10px;
}

.fly button{
    height: 25px;
    width: 5%;
    vertical-align: bottom;
}