/*
* @Author: inksmallfrog
* @Date:   2017-04-06 08:13:01
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-14 09:46:05
*/
body{
    overflow-y: hidden;
}

#page{
    width: 100%;
    height:  100vh;
}

.current_music{
    position: absolute;
    top: 100vh;
    background: #9cc;
    width: 100%;
    height: 100vh;
    transition: top .5s;
}
.current_music.show{
    top: 0;
}

.fly{
    position: absolute;
    left: 0;
    line-height: 25px;
    bottom: 50px;
    width: 100%;
}

.control{
    user-select: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    height: 50px;

    box-sizing: border-box;
    padding: 0 10px;

    background-color: #f63;
}