/*
* @Author: inksmallfrog
* @Date:   2017-04-06 08:17:04
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-10 08:53:07
*/
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: 0;
}

input{
    border: 0;
}

input:focus {
    outline: none;
}

button:focus{
    outline: none;
}