/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:05:33
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-19 00:01:07
*/
body {
  overflow-y: hidden;
  height: 100vh; }

#page {
  width: 100%;
  height: 100%;
  margin-bottom: 75px; }

/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:43:39
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-18 23:46:15
*/
.current_music {
  position: absolute;
  top: 100vh;
  background: #9cc;
  width: 100%;
  height: 100vh;
  transition: top .5s; }
  .current_music .control_panel {
    position: absolute;
    right: 5%;
    top: 50px; }
    .current_music .control_panel button {
      width: 50px;
      height: 50px;
      background: rgba(200, 200, 200, 0.6);
      font-size: 20px; }
  .current_music .music_content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 50px; }
    .current_music .music_content .music_cover {
      width: 500px;
      height: 500px;
      position: relative; }
      .current_music .music_content .music_cover img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        position: absolute; }
      .current_music .music_content .music_cover .center_circle {
        position: absolute;
        border-radius: 100%;
        width: 140px;
        height: 140px;
        background-color: #9cc;
        left: 50%;
        margin-left: -70px;
        top: 50%;
        margin-top: -70px; }

/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:14:23
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-18 23:17:51
*/
.fly_send {
  position: absolute;
  left: 0;
  line-height: 25px;
  height: 25px;
  bottom: 50px;
  width: 100%; }
  .fly_send input {
    height: 25px;
    box-sizing: border-box;
    width: 95%;
    padding: 0 10px; }
  .fly_send button {
    height: 25px;
    width: 5%;
    vertical-align: bottom; }

/*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:18:31
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-19 00:02:44
*/
.control {
  user-select: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  height: 50px;
  background-color: #f63;
  /*
* @Author: inksmallfrog
* @Date:   2017-04-18 23:31:33
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-19 00:07:34
*/ }
  .control .control-panel {
    position: relative;
    width: 94%;
    min-width: 980px;
    margin: 0 auto; }
  .control #music_favicon {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    vertical-align: middle;
    margin-right: 20px; }
    .control #music_favicon img {
      border-radius: 100%;
      width: 100%;
      height: 100%; }
  .control .control_item {
    position: relative;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: transparent;
    color: white; }
    .control .control_item span {
      font-size: 25px; }
  .control .control_item#playorpause {
    width: 35px;
    height: 35px; }
    .control .control_item#playorpause span {
      font-size: 35px; }
  .control .time_bar_tip {
    position: absolute;
    display: none;
    top: -8px;
    line-height: 25px; }
    .control .time_bar_tip p {
      width: 50px;
      text-align: center;
      background-color: yellow; }
    .control .time_bar_tip .bottom_triangle {
      position: absolute;
      border-top: 5px solid yellow;
      border-right: transparent 5px solid;
      border-left: transparent 5px solid;
      border-bottom: transparent 5px solid;
      left: 50%;
      margin-left: -2.5px; }
  .control #time_range {
    width: 55%; }
  .control .time_tip {
    vertical-align: middle;
    color: #eee;
    font-size: 10px; }
  .control .switch {
    position: relative;
    width: 55px;
    height: 25px;
    vertical-align: middle;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.2);
    transition: background .5s; }
    .control .switch div {
      position: absolute;
      width: 25px;
      line-height: 25px;
      border-radius: 20px;
      background: white;
      box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.2);
      transition: left .5s; }
    .control .switch p {
      line-height: 25px;
      font-size: 10px; }
  .control .switch.on {
    background: #c69; }
    .control .switch.on div {
      left: 0; }
    .control .switch.on p {
      float: right;
      padding-right: 5px; }
  .control .switch.off {
    background-color: white; }
    .control .switch.off div {
      left: 30px; }
    .control .switch.off p {
      float: left;
      padding-left: 5px; }
  .control .play_mode {
    vertical-align: middle;
    background: none;
    color: white;
    font-size: 15px;
    margin-right: 10px; }
  .control .volume_control {
    vertical-align: middle;
    background: none;
    color: white;
    font-size: 15px; }
  .control #volume_range {
    width: 5%; }
  .control .music_list_control {
    background: none;
    vertical-align: middle;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    padding-top: 3px; }
  .control .music_list {
    position: absolute;
    display: none;
    bottom: 50px;
    right: 8px;
    width: 0;
    height: 0;
    background: green;
    z-index: 10; }
    .control .music_list .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border-bottom: 1px black solid;
      padding: 0 20px;
      line-height: 30px;
      margin-bottom: 10px; }
      .control .music_list .header p {
        flex-grow: 20; }
    .control .music_list button {
      font-size: 20px;
      background: none;
      vertical-align: middle;
      flex-grow: 0; }
      .control .music_list button span {
        line-height: 30px; }
    .control .music_list .small_font {
      font-size: 10px;
      flex-grow: 1;
      margin-right: 20px; }
    .control .music_list .bottom_triangle {
      position: absolute;
      right: 33px;
      bottom: -20px;
      border-left: transparent solid 10px;
      border-right: transparent solid 10px;
      border-top: green 10px solid;
      border-bottom: transparent 10px solid; }
    .control .music_list .music_item {
      height: 18px;
      line-height: 18px;
      display: flex;
      padding: 3px 20px;
      justify-content: space-between;
      align-items: center;
      text-align: left; }
      .control .music_list .music_item:hover {
        cursor: pointer;
        background: white; }
      .control .music_list .music_item .mark_icon {
        flex-grow: 1;
        visibility: hidden;
        margin-right: -18px; }
      .control .music_list .music_item .music_title {
        flex-grow: 8; }
      .control .music_list .music_item .music_author {
        flex-grow: 3; }
      .control .music_list .music_item .music_duration {
        flex-grow: 2; }
      .control .music_list .music_item button {
        flex-grow: 0;
        margin: 0 10px;
        text-align: right; }
        .control .music_list .music_item button:last-child {
          margin-right: 0; }
        .control .music_list .music_item button:hover {
          color: #666; }
    .control .music_list .music_item.current .mark_icon {
      visibility: visible; }
